<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
    {% block title %} 
      {{title}}
    {% endblock %}
    </title>
    <link rel="icon" href="{{url_for('static', filename = '/images/' + '67232.png')}}">
    <link href="#" rel="stylesheet" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384- 
      GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
      />
  </head>
  <style>
    body {
    background: rgb(246, 242, 242);
    padding-top: 65px;
    }
    a {
    text-decoration: none;
    }
  </style>
  <body>
    <div class="container text-left">
      <div class="col col-lg-8 mx-auto">
        <div class="logo-search mb-2">
          <nav class="navbar fixed-top bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('main.home')}}">
                Welcome, <b>{{current_user.name}}</b>
              </a>
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="{{url_for('main.home')}}"
                    style="color: #ffffff"
                    >Home</a
                    >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    style="color: #ffffff;"
                    >
                  Profile
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{url_for('users.user_profile',username = current_user.name)}}">My Profile</a></li>
                    <li><a class="dropdown-item" href="{{url_for('posts.addpost')}}">Add Post</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('users.search')}}" style="color: #ffffff">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('users.logout')}}" style="color: #ffffff">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages and 'Login' not in messages %}
            {% for category,message in messages %}
            <div class="alert alert-dark" role="alert">
             <p>{{message}}</p>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="posts p-1">{% block content %} {% endblock %}</div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
      ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
      ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
      ></script>
  </body>
</html>